torch
transformers
tokenizers
sentencepiece
protobuf
huggingface_hub
safetensors
tiktoken

numpy
pandas
tqdm
regex
requests
PyYAML
packaging
filelock
fsspec

nltk
joblib
RapidFuzz
python-Levenshtein

sympy
networkx
mpmath

Jinja2
typing_extensions
click
typer-slim
